@using RceDoorzoeker.Models.Item
@model RceDoorzoeker.Models.Item.ItemModel

@{
	var contentItemModel = Model as ContentItemModel;
}

<div class="annex-item-details">
	<div class="item-data">
		<table class="table table-striped">				
			<tr>
				<td class="item-label" title="item type" colspan="1">
					@if (contentItemModel.ItemTypeResource != null)
					{
						Html.RenderPartial("ResourceValue", contentItemModel.ItemTypeResource);	
					}
				</td>
			</tr>
			
			@*@{ Html.RenderPartial("SkosProperyList", Model.PrefLabels); }
			@{ Html.RenderPartial("SkosProperyList", Model.AltLabels); }
			@{ Html.RenderPartial("SkosProperyList", Model.HiddenLabels); }
			@{ Html.RenderPartial("SkosProperyList", Model.Definitions); }*@
			
			@{ Html.RenderPartial("StatementList", contentItemModel.Statements); }
			
		</table>
		
	</div>
</div>